{% extends 'base.html' %}
{% block content %}

    {% if api %}
        <table class="table table-striped table-bordered table-hover align="left">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center" style="vertical-align: middle" scope="col">ship_name</th>
                    <th class="text-center" style="vertical-align: middle" scope="col">ship_class</th>
                    <th class="text-center" style="vertical-align: middle" scope="col">ship_race</th>
                    <th class="text-center" style="vertical-align: middle" scope="col">ship_price</th>
                    <th class="text-center" style="vertical-align: middle" scope="col">ship_weapon</th>
                    <th class="text-center" style="vertical-align: middle" scope="col">ship_turret</th>
                    <th class="text-center" style="vertical-align: middle" scope="col">ship_hull</th>
                    <th class="text-center" style="vertical-align: middle" scope="col">ship_cargo</th>
                    <th class="text-center" style="vertical-align: middle" scope="col">ship_dock</th>
                    <th class="text-center" style="vertical-align: middle" scope="col">ship_hangar</th>
                    <th class="text-center" style="vertical-align: middle" scope="col">ship_dlc</th>
                    <th class="text-center" style="vertical-align: middle" scope="col">ship_role</th>
                    <th class="text-center" style="vertical-align: middle" scope="col">ship_shield</th>
                    <th class="text-center" style="vertical-align: middle" scope="col">ship_speed</th>
                    <th class="text-center" style="vertical-align: middle" scope="col">id</th>
                </tr>
            </thead>
            <tbody>
                {% for ticker in api %}
                    <tr>
                        <td class="text-center" style="vertical-align: middle">{{ ticker.ship_name }}</td>
                        <td class="text-center" style="vertical-align: middle">{{ ticker.ship_class }}</a></td>
                        <td class="text-center" style="vertical-align: middle">{{ ticker.ship_race }}</a></td>
                        <td class="text-center" style="vertical-align: middle">{{ ticker.ship_price }}</a></td>
                        <td class="text-center" style="vertical-align: middle">{{ ticker.ship_weapon }}</a></td>
                        <td class="text-center" style="vertical-align: middle">{{ ticker.ship_turret }}</a></td>
                        <td class="text-center" style="vertical-align: middle">{{ ticker.ship_hull }}</a></td>
                        <td class="text-center" style="vertical-align: middle">{{ ticker.ship_cargo }}</a></td>
                        <td class="text-center" style="vertical-align: middle">{{ ticker.ship_dock }}</a></td>
                        <td class="text-center" style="vertical-align: middle">{{ ticker.ship_hangar }}</a></td>
                        <td class="text-center" style="vertical-align: middle">{{ ticker.ship_dlc }}</a></td>
                        <td class="text-center" style="vertical-align: middle">{{ ticker.ship_role }}</a></td>
                        <td class="text-center" style="vertical-align: middle">{{ ticker.ship_shield }}</a></td>                       
                        <td class="text-center" style="vertical-align: middle">{{ ticker.ship_speed }}</a></td>
                        <td class="text-center" style="vertical-align: middle">{{ ticker }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        Portfolio is Empty
    {% endif%}
{% endblock %}
